name: Test
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  test-check:
    name: runner / phpcs-wordpress (github-check)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          level: info
          tool_name: 'phpcs-check'
          phpcs_args: '--standard=WordPress .'
          workdir: testdata

  test-pr-check:
    if: github.event_name == 'pull_request'
    name: runner / phpcs-wordpress (github-pr-check)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check
          level: warning
          phpcs_args: '--standard=WordPress .'
          workdir: testdata

  test-pr-review:
    if: github.event_name == 'pull_request'
    name: runner / phpcs-wordpress (github-pr-review)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          level: error
          reviewdog_flags: -filter-mode=file -fail-on-error
          phpcs_args: '--standard=WordPress .'
          workdir: testdata
